<div class="product-container">
    <div class="header">
        <a routerLink="/admin/product/add" class="btn btn-success">Add Product</a>
    </div>
    <div class="product-grid mt-5">
        <h3>Products</h3>
        <table class="table row-border hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>
                        <img [src]="product.imagePath" [alt]="product.name" width="40" height="40">
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description.length > 100 ? product.description.substring(0, 100)+' ...' : product.description }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" [routerLink]="['/admin/product/edit', product.id]">Edit</a>
                                <a class="dropdown-item" href="javascript:void(0);"
                                    (click)="deleteProduct(product.id, product.imagePath)">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!products.length">
                    <td colspan="6" align="center">
                        No products found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>