<nav class="sidebarMenu">
    <div class="list-group list-group-flush mx-3 mt-4">
        <a routerLink="/admin/dashboard" class="list-group-item" routerLinkActive="active">
            <span>Dashboard</span>
        </a>
        <a routerLink="/admin/users" class="list-group-item" routerLinkActive="active">
            <span>Users</span>
        </a>
        <a routerLink="/admin/products" class="list-group-item" routerLinkActive="active">
            <span>Products</span>
        </a>
        <a routerLink="/admin/orders" class="list-group-item" routerLinkActive="active">
            <span>Orders</span>
        </a>
    </div>
</nav>