<section class="mt-1">
    <div class="container-fluid">
        <div class="row align-items-center ">
            <div class="col-md-8">
                <h3 class="mb-3">Create</h3>
                <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
                    <!-- Image input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="image">Select Image</label>
                        <input type="file" id="name" class="form-control form-control-md" formControlName="image" accept=".jpg,.jpeg,.png" (change)="onFileSelected($event)"/>
                        <div *ngIf="submitted && addProductFormControl['image'].errors">
                            <span class="text-danger" *ngIf="addProductFormControl['image'].errors?.['required']">
                                Image is required
                            </span>
                        </div>
                    </div>
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" id="name" class="form-control form-control-md" formControlName="name" placeholder="Enter your name" />
                        <div *ngIf="submitted && addProductFormControl['name'].errors">
                            <span class="text-danger" *ngIf="addProductFormControl['name'].errors?.['required']">
                                Name is required
                            </span>
                            <span class="text-danger" *ngIf="addProductFormControl['name'].errors?.['minlength']">
                                Name must be at least 2 characters
                            </span>
                            <span class="text-danger" *ngIf="addProductFormControl['name'].errors?.['maxlength']">
                                Name must not exceed 100 characters
                            </span>
                        </div>
                    </div>
                    <!-- Price input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="price">Price</label>
                        <input type="text" id="price" class="form-control form-control-md" formControlName="price" placeholder="Enter price" />
                        <div *ngIf="submitted && addProductFormControl['price'].errors">
                            <span class="text-danger" *ngIf="addProductFormControl['price'].errors?.['required']">
                                Price is required
                            </span>
                            <span class="text-danger" *ngIf="addProductFormControl['price'].errors?.['pattern']">
                                Price must be number
                            </span>
                        </div>
                    </div>
                    <!-- Quantity input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="quantity">Quantity</label>
                        <input type="text" id="quantity" class="form-control form-control-md" formControlName="quantity" placeholder="Enter quantity" />
                        <div *ngIf="submitted && addProductFormControl['quantity'].errors">
                            <span class="text-danger" *ngIf="addProductFormControl['quantity'].errors?.['required']">
                                Quantity is required
                            </span>
                            <span class="text-danger" *ngIf="addProductFormControl['quantity'].errors?.['pattern']">
                                Quantity must be number
                            </span>
                        </div>
                    </div>
                    <!-- Description input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control form-control-md" id="description" formControlName="description" cols="30" rows="5"></textarea>
                        <div *ngIf="submitted && addProductFormControl['description'].errors">
                            <span class="text-danger" *ngIf="addProductFormControl['description'].errors?.['required']">
                                Description is required
                            </span>
                            <span class="text-danger" *ngIf="addProductFormControl['description'].errors?.['minlength']">
                                Description must be at least 2 characters
                            </span>
                            <span class="text-danger" *ngIf="addProductFormControl['description'].errors?.['maxlength']">
                                Description must not exceed 100 characters
                            </span>
                        </div>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>